[submodule "third_party/json"]
	path = third_party/json
	url = https://github.com/nlohmann/json.git
[submodule "third_party/ecs"]
	path = third_party/ecs
	url = https://github.com/MedoviyKeksik/ECS.git
